doctype html
html(lang='zh-CN', ng-app='jtApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')

  body
    h1 #{name}
    #book
    #authorListContainer.authorList